.loading-overlay {
    background: rgba(0,0,0,0.5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    position: fixed;
    width: 100%;
}