@import url('https://fonts.googleapis.com/css?family=Geologica&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Geologica', sans-serif;
}

h1 {
    font-size: 28px;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    font-weight: 800;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}