.home__loading {
    background: rgba(0,0,0,0.5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    position: fixed;
    width: 100%;
}

.home__summary {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile-modal {
    display: flex;
    flex-direction: column;
    width: 300px;
}

/* FullCalendar */
.fc-header-toolbar {
    margin-top: 10px;
}

:root {
    --fc-event-bg-color: lightgrey;
    --fc-event-text-color: black;
}

.fc .fc-toolbar-title {
    font-size: 1.35em;
}
/* FullCalendar */