.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    align-items: center;
    margin: 10px 20px;
}

.home__cta {
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    background: rgba(255 255 255 / 0.65);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: var(--bs-primary)
}

.home__cta--show {
    z-index: 9999;
}

.cta-btn {
    background-color: #E2623D
}

#home-bg {
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9;
  }

  .home__loading {
    background: rgba(0,0,0,0.5);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    position: fixed;
    width: 100%;
}