.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    align-items: center;
    margin: 10px 20px;
}

.contact__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}