.ko-header {
    z-index: 99999;
}

.ko-side-menu.offcanvas {
    --bs-offcanvas-color: var(--ko-primary-contrast);
    --bs-offcanvas-bg: var(--ko-primary-color);    
}

.ko-side-menu.offcanvas .offcanvas-body {
    font-size: 24px;
    font-weight: 400;
}

.ko-side-menu.offcanvas .offcanvas-body  a {
    border-bottom: 1px solid #FFFFFF10;
    padding-bottom: 25px;
}

.ko-side-menu.offcanvas .btn-close {
    color: var(--ko-primary-contrast) !important;
}