:root {
    --dark-blue: #1A183A;
    --dark-blue-rgb: 26,24,58;

    --lilas: #A874AE;
    --orange: #E2623D;
    --ice-white: #FFFEFE;

    --bs-primary-rgb: var(--dark-blue-rgb);
    --bs-primary: var(--dark-blue);
    --bs-primary-rgb: var(--dark-blue-rgb);
}

#shell {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    contain: layout size style;
    z-index: 0;
    /* background: #f5ffff63;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    overflow: hidden;
    z-index: 0; */
    
}

.fc-view-harness.fc-view-harness-active {
    height: 65vh !important;
}

@media only screen and (max-width: 440px) {
    
    .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
        display: flex;
        margin-left: 10px;
    }

    #fc-dom-1 {
        font-size: 1em;
    }
}