:root {
    --dark-blue: #1A183A;
    --dark-blue-rgb: 26,24,58;

    --lilas: #A874AE;
    --orange: #E2623D;
    --ice-white: #FFFEFE;

    --bs-primary-rgb: var(--dark-blue-rgb);
    --bs-primary: var(--dark-blue);
    --bs-primary-rgb: var(--dark-blue-rgb);
}

#app {
    background: #f5ffff63;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.fc-view-harness.fc-view-harness-active {
    height: 65vh !important;
}

@media only screen and (max-width: 440px) {
    
    .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
        display: flex;
        margin-left: 10px;
    }

    #fc-dom-1 {
        font-size: 1em;
    }
}